*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.margin {
    margin: 2em 2em 1em;
}

p {
    font-family: 'Fredoka', sans-serif;
}

/***EINLEITUNG LANDING PAGE***/

h1,h2,h3 {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    margin-top: 1em;
}

h2.subtitle {
    margin-bottom: 1em;
}

span.formation {
    display: block;
    margin-bottom: 1em;
}

@media only screen and (min-width: 40em) {
     span.formation {
         display: inline-block;
     }
}

h2.inspiration {
    margin-bottom: 2em;
}

/***WOHNZIMMER MIT PFLANZEN BILDER***/

/***Klein***/
.container {
        display: grid;
        justify-items: center;
        gap: 0.5em;
        margin: 1em auto;
    }

.container p {
    font-size: 0.9em;
    font-style: italic;
    position: relative;
    bottom: 0.5em;
}

/***Mittel***/ 
@media only screen and (min-width: 40em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1.5em;
    }
}
/***Groß***/

@media only screen and (min-width: 60em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

/***Einzelne Wohnzimmer***/

@media only screen and (min-width: 40em) {
    .container p {
        align-self: end;
    }
}

@media only screen and (min-width: 40em) {
    .pflanze1 {
         grid-row-start: 1;
         grid-column-start: 1;
    }
}

@media only screen and (min-width: 40em) {
     p.pflanze1 {
         position: relative;
         bottom: 14%;
     }
}

@media only screen and (min-width: 60em) {
    p.pflanze1 {
        position: relative;
        bottom: 14%;
    }
}

@media only screen and (min-width: 40em) {
    .pflanze2 {
        grid-row-start: 1;
        grid-column-start: 2;
    }
}

@media only screen and (min-width: 40em) {
     p.pflanze2 {
        position: relative;
        top: 1em;
    }
}

@media only screen and (min-width: 40em) {
    .pflanze3 {
        grid-row-start: 2;
        grid-column-start: 1;
    }
}

@media only screen and (min-width: 60em) {
    .pflanze3 {
        grid-row-start: 1;
        grid-column-start: 3;
    }
}

@media only screen and (min-width: 40em) {
     p.pflanze3 {
       position: relative;
       top: 1em;
    }
}


@media only screen and (min-width: 40em) {
    .pflanze4 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

@media only screen and (min-width: 60em) {
    .pflanze4 {
        grid-row-start: 2;
        grid-column-start: 1;
    }
}

@media only screen and (min-width: 40em) {
    p.pflanze4 {
       position: relative;
       bottom: 7%;
   }
}

@media only screen and (min-width: 60em) {
    p.pflanze4 {
       position: relative;
       bottom: 6%;
   }
}

@media only screen and (min-width: 40em) {
    .pflanze5 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
}

@media only screen and (min-width: 60em) {
    .pflanze5 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

@media only screen and (min-width: 40em) {
    p.pflanze5 {
       position: relative;
       top: 1em;
   }
}

@media only screen and (min-width: 40em) {
    .pflanze6 {
        grid-row-start: 3;
        grid-column-start: 2;
    }
}

@media only screen and (min-width: 60em) {
    .pflanze6 {
        grid-row-start: 2;
        grid-column-start: 3;
    }
}

@media only screen and (min-width: 40em) {
    p.pflanze6 {
       position: relative;
       bottom: 7.5%;
   }
}


@media only screen and (min-width: 60em) {
    p.pflanze6 {
       position: relative;
       bottom: 7%;
   }
}

@media only screen and (min-width: 40em){
    .pflanze7 {
        grid-row-start: 4;
        grid-column-start: 1;
    }
}

@media only screen and (min-width: 60em){
    .pflanze7 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
}

@media only screen and (min-width: 40em) {
    p.pflanze7 {
       position: relative;
       top: 0.75em;
   }
}

@media only screen and (min-width: 40em) {
    .pflanze8 {
        grid-row-start: 4;
        grid-column-start: 2;
    }
}

@media only screen and (min-width: 60em) {
    .pflanze8 {
        grid-row-start: 3;
        grid-column-start: 2;
    }
}

@media only screen and (min-width: 40em) {
    p.pflanze8 {
       position: relative;
       top: 1em;
   }
}

@media only screen and (min-width: 40em) {
    .pflanze9 {
        display: grid;
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width: 60em) {
    .pflanze9 {
        grid-row-start: 3;
        grid-column-start: 3;
        width: 75%;
        height: auto;
    }
}

@media only screen and (min-width: 40em) {
    p.pflanze9 {
       text-align: center;
       position: relative;
       top: 1em;
   }
}

@media only screen and (min-width: 60em) {
    p.pflanze9 {
       text-align: center;
       display: grid;
       align-self: center;
       position: relative;
       top: 32.5%;
   }
}

h2.Ideen {
    margin: 3em 1em;
    text-transform: uppercase;
}

h2.diy {
    text-transform: uppercase;
    margin: 1em 0;
}

/*** Sechs Pflanzen ***/


/***Klein***/
.container6 {
    display: grid;
    justify-items: center;
    gap: 1em;
    margin: 1em auto;
}

/***Mittel***/
@media only screen and (min-width: 35em) {
    .container6 img {
        width: 40%;
    }
}

/***Desktop***/
@media only screen and (min-width: 60em) {
    .container6 img {
        width: 25%;
    }
}

.container6 h3 {
    text-transform: uppercase;
}

.container6 p {
    text-align: center;
    width: 75%;
}

@media only screen and (min-width: 35em) {
    .container6 p {
        width: 40%;
    }
}

@media only screen and (min-width: 60em) {
    .container6 p {
        width: 25%;
    }
}

div.green {
    background-color: lightgreen;
}

p.green {
    padding: 1em 2em;
    text-align: center;
}

@media only screen and (min-width: 60em) {
    p.green {
        width: 50%;
        margin: 0 auto;
    }
}

.containerQDW {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    justify-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

/*@media only screen and (min-width: 35em) {
.containerQDW p {
  width: 50%;
}
}*/

@media only screen and (min-width: 60em) {
    .containerQDW p {
        width: 50%;
    }
}

p.anrufen {
    grid-column-start: 2;
}

h2.diy {
    grid-row-start: 2;
    grid-column-start: 2;
}

img.diy1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 50%;
}

@media only screen and (min-width: 60em) {
    .containerQDW {
        display: grid;
        grid-template-columns: 1fr 75% 1fr;
        justify-items: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}

.flaschengarten {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    font-family: 'Inspiration', cursive;
    margin: 1em 0;
    font-size: 4rem;
    color: #adff2f;
    position: relative;
    z-index: 10;
}

@media only screen and (min-width: 35em) {
    img.diy1 {
        display: grid;
        justify-self: center;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 90%;
    }
}

@media only screen and (min-width: 60em) {
     img.diy1 {
         display: grid;
         justify-self: center;
         grid-column-start: 2;
         grid-column-end: 3;
         width: 75%;
     }
}

h2.how {
    grid-row-start: 4;
    grid-column-start: 2;
    margin: 1em auto;
    text-transform: uppercase;
}

@media only screen and (min-width: 60em) {
    h2.how {
        font-size: 1.5rem;
    }
}

p.garten {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    white-space:pre-line;
}





